nav {
    background: linear-gradient(239deg, rgb(49, 74, 91) 0%, rgb(76, 164, 160) 46%, rgb(116, 217, 246) 100%) transparent;
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
background: transparent;
padding: 0.9rem;
border-radius: 50%;
display: flex;
font-size: 1.5rem;
}



