#homes {
    height: 100vh;
    width: 100%;
    margin:2rem;
}
.new {
height: 100vh;
width: 100%;  
display: flex;
align-items: center;
justify-content: center;
gap: 5rem;
color: #31525b;
}
.new .frontend {
    position: relative;
}


.new .frontend ::before{
    content: "";
    position: absolute;
    width: 10%;
    aspect-ratio: 1/1;
    top: 0;
    left: 0;
    border-left: solid 2px #31525b;
    border-top: solid 2px #dbb77f;
    border-top-left-radius: 1rem; 
    margin:-2rem;   
}
.new .backend {
    position: relative;
}

.new .backend::before {
    content: "";
    position: absolute;
    width: 10%;
    aspect-ratio: 1/1;
    right: 0;
    bottom: 0;
    border-right: solid 2px #dbb77f;
    border-bottom: solid 2px #31525b;
    border-bottom-right-radius: 1rem;
    margin: -2rem;
}

.skillgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    max-width: 400px;
}
.skillgrid > div {
    text-align: center;
    
}
.skillgrid > div > p {
    margin: 0.5rem 0 1.5rem 0;
    
}
.skillemblem {
    display: grid;
    place-content: center;
    width: 3rem;
    height: 3rem;
    max-width: 3rem;
    max-height: 3rem;
    border: 1px solid #ededed;
    border-radius: 1rem;
    margin: auto;
}
.skillemblem svg {
    fill: #31525b;
    width: 2rem;
    height: auto;
}



